/* =============
    Index
============= */

#index-right{
    a:link , a:visited , {
      color: var(--crimson);
      text-decoration: none;



    }

a:hover, a:active{

    color: var(--darkPurple);

}

}